In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.ensemble import GradientBoostingRegressor
from scipy.stats import probplot
from sklearn.preprocessing import StandardScaler

import xgboost as xgb
from sklearn.model_selection import cross_val_score, KFold

In [2]:
test_data = pd.read_csv('cars_test.csv')

In [3]:
train_data = pd.read_csv('cars.csv')

In [5]:
percent_missing_train = (train_data.isna().sum() * 100 / len(train_data)).round(2)
percent_missing_test = (test_data.isna().sum() * 100 / len(test_data)).round(2)

missing_value_df = pd.DataFrame({'percent_missing_train_data': percent_missing_train,
                                'percent_missing_test_data': percent_missing_test})
missing_value_df

              percent_missing_train_data  percent_missing_test_data
brand                               0.00                       0.00
engineSize                          0.00                       0.00
fuelType                            0.00                       0.00
id                                  0.00                       0.00
mileage                             0.00                       0.00
model                               0.00                       0.00
mpg                                 8.61                       8.67
price                               0.00                        NaN
tax                                13.12                      12.88
tax(£)                             95.50                      95.79
transmission                        0.00                       0.00
year                                0.01                       0.00

In [6]:
dict_train = dict()
dict_train['unique_brands'] = list((set((train_data['brand']))))
dict_train['unique_models'] = list((set((train_data['model']))))
dict_train['unique_fuel_types'] = list((set((train_data['fuelType']))))
dict_train['unique_transmission_types'] = list((set((train_data['transmission']))))
dict_train

{'unique_brands': ['toyota',
  'Hyundai',
  'bmw',
  'vw',
  'skoda',
  'Mercedes-Benz',
  'ford',
  'vauxhall',
  'audi'],
 'unique_models': [' KA',
  ' Mokka',
  '180',
  ' X7',
  ' Mondeo',
  ' EcoSport',
  ' M4',
  ' GL Class',
  ' Kodiaq',
  ' Sharan',
  ' GLB Class',
  ' Caddy Maxi',
  ' Tiguan Allspace',
  ' SLK',
  ' 8 Series',
  ' I30',
  ' Golf',
  ' RS3',
  ' SQ7',
  ' RS7',
  ' Agila',
  ' T-Cross',
  '200',
  ' Vectra',
  ' Tiguan',
  ' Mokka X',
  ' Scala',
  ' Citigo',
  ' Rapid',
  ' S5',
  ' GLE Class',
  ' C-HR',
  ' X4',
  ' Ampera',
  ' V Class',
  ' Fusion',
  ' I800',
  ' B Class',
  ' X-CLASS',
  ' Ranger',
  ' California',
  ' Fabia',
  ' A7',
  ' A3',
  ' Aygo',
  ' Fox',
  '220',
  ' X6',
  ' Land Cruiser',
  ' Verso-S',
  ' Meriva',
  ' Amica',
  ' S Class',
  ' Tourneo Custom',
  ' S8',
  ' Terracan',
  ' Grand C-MAX',
  ' Scirocco',
  ' GTC',
  ' Insignia',
  ' Urban Cruiser',
  ' Jetta',
  ' C-MAX',
  ' Amarok',
  ' SQ5',
  ' i3',
  ' 4 Series',
  ' Yeti Outdoor',
  ' Yeti',
  ' R8',
  ' Superb',
  ' Streetka',
  ' Accent',
  ' Q2',
  ' GLS Class',
  ' M3',
  ' Verso',
  ' Corsa',
  ' X2',
  ' 7 Series',
  ' RS4',
  ' R Class',
  ' Beetle',
  ' S4',
  ' Adam',
  ' IX35',
  ' Viva',
  ' Tucson',
  ' Tigra',
  ' Eos',
  ' Hilux',
  ' Antara',
  ' M6',
  ' X1',
  ' Karoq',
  ' Combo Life',
  ' 5 Series',
  ' Touareg',
  ' Auris',
  ' Caddy Life',
  ' Transit Tourneo',
  ' GLA Class',
  ' Ioniq',
  ' Yaris',
  ' Cascada',
  ' Mustang',
  ' CLC Class',
  ' Q8',
  ' I40',
  ' Focus',
  ' 3 Series',
  ' Galaxy',
  ' C Class',
  ' SL CLASS',
  ' Up',
  ' X3',
  ' CLK',
  ' Z4',
  ' A1',
  ' IX20',
  ' 6 Series',
  ' Zafira Tourer',
  ' 1 Series',
  ' Escort',
  ' E Class',
  ' Supra',
  ' Grand Tourneo Connect',
  ' M Class',
  ' A2',
  ' T-Roc',
  ' Q3',
  ' Prius',
  ' Roomster',
  ' GT86',
  ' X5',
  ' Getz',
  ' I20',
  ' Puma',
  ' Caravelle',
  ' RS5',
  ' IQ',
  ' CLA Class',
  ' Camry',
  ' A8',
  ' Veloster',
  ' GLC Class',
  ' Caddy',
  ' Octavia',
  ' Shuttle',
  ' 2 Series',
  ' Grandland X',
  ' Corolla',
  ' Q5',
  ' A5',
  ' I10',
  ' Santa Fe',
  ' CLS Class',
  ' Fiesta',
  ' Astra',
  ' A6',
  ' Golf SV',
  ' M2',
  ' Caddy Maxi Life',
  ' Touran',
  ' Vivaro',
  ' S3',
  ' Polo',
  ' RS6',
  ' M5',
  ' Avensis',
  ' Arteon',
  ' Z3',
  ' Crossland X',
  ' Tourneo Connect',
  ' Kamiq',
  ' PROACE VERSO',
  ' Kona',
  ' Q7',
  ' Edge',
  ' CC',
  ' Zafira',
  ' B-MAX',
  ' G Class',
  ' Kadjar',
  ' Ka+',
  ' A4',
  ' CL Class',
  ' A Class',
  ' S-MAX',
  ' i8',
  ' Passat',
  ' Kuga',
  ' RAV4',
  ' TT'],
 'unique_fuel_types': ['Petrol', 'Hybrid', 'Electric', 'Other', 'Diesel'],
 'unique_transmission_types': ['Manual', 'Other', 'Semi-Auto', 'Automatic']}

In [7]:
dict_test = dict()
dict_test['unique_brands'] = set((test_data['brand']))
dict_test['unique_models'] = set((test_data['model']))
dict_test['unique_fuel_types'] = set((test_data['fuelType']))
dict_test['unique_transmission_types'] = set((test_data['transmission']))
dict_test

{'unique_brands': {'Hyundai',
  'Mercedes-Benz',
  'audi',
  'bmw',
  'focus',
  'ford',
  'skoda',
  'toyota',
  'vauxhall',
  'vw'},
 'unique_models': {' 1 Series',
  ' 2 Series',
  ' 3 Series',
  ' 4 Series',
  ' 5 Series',
  ' 6 Series',
  ' 7 Series',
  ' 8 Series',
  ' A Class',
  ' A1',
  ' A3',
  ' A4',
  ' A5',
  ' A6',
  ' A7',
  ' A8',
  ' Adam',
  ' Agila',
  ' Amarok',
  ' Antara',
  ' Arteon',
  ' Astra',
  ' Auris',
  ' Avensis',
  ' Aygo',
  ' B Class',
  ' B-MAX',
  ' Beetle',
  ' C Class',
  ' C-HR',
  ' C-MAX',
  ' CC',
  ' CL Class',
  ' CLA Class',
  ' CLS Class',
  ' Caddy Life',
  ' Caddy Maxi Life',
  ' California',
  ' Caravelle',
  ' Citigo',
  ' Combo Life',
  ' Corolla',
  ' Corsa',
  ' Crossland X',
  ' E Class',
  ' EcoSport',
  ' Edge',
  ' Fabia',
  ' Fiesta',
  ' Focus',
  ' Fusion',
  ' G Class',
  ' GL Class',
  ' GLA Class',
  ' GLB Class',
  ' GLC Class',
  ' GLE Class',
  ' GLS Class',
  ' GT86',
  ' GTC',
  ' Galaxy',
  ' Golf',
  ' Golf SV',
  ' Grand C-MAX',
  ' Grand Tourneo Connect',
  ' Grandland X',
  ' Hilux',
  ' I10',
  ' I20',
  ' I30',
  ' I40',
  ' I800',
  ' IX20',
  ' IX35',
  ' Insignia',
  ' Ioniq',
  ' Jetta',
  ' KA',
  ' Ka+',
  ' Kamiq',
  ' Karoq',
  ' Kodiaq',
  ' Kona',
  ' Kuga',
  ' Land Cruiser',
  ' M Class',
  ' M3',
  ' M4',
  ' M5',
  ' Meriva',
  ' Mokka',
  ' Mokka X',
  ' Mondeo',
  ' Mustang',
  ' Octavia',
  ' PROACE VERSO',
  ' Passat',
  ' Polo',
  ' Prius',
  ' Puma',
  ' Q2',
  ' Q3',
  ' Q5',
  ' Q7',
  ' Q8',
  ' R8',
  ' RAV4',
  ' RS3',
  ' RS4',
  ' RS5',
  ' RS6',
  ' Rapid',
  ' Roomster',
  ' S Class',
  ' S-MAX',
  ' S3',
  ' SL CLASS',
  ' SLK',
  ' SQ5',
  ' SQ7',
  ' Santa Fe',
  ' Scala',
  ' Scirocco',
  ' Sharan',
  ' Shuttle',
  ' Superb',
  ' Supra',
  ' T-Cross',
  ' T-Roc',
  ' TT',
  ' Tigra',
  ' Tiguan',
  ' Tiguan Allspace',
  ' Touareg',
  ' Touran',
  ' Tourneo Connect',
  ' Tourneo Custom',
  ' Tucson',
  ' Up',
  ' V Class',
  ' Verso',
  ' Verso-S',
  ' Viva',
  ' Vivaro',
  ' X-CLASS',
  ' X1',
  ' X2',
  ' X3',
  ' X4',
  ' X5',
  ' X6',
  ' X7',
  ' Yaris',
  ' Yeti',
  ' Yeti Outdoor',
  ' Z4',
  ' Zafira',
  ' Zafira Tourer',
  ' i3',
  '230'},
 'unique_fuel_types': {'Diesel', 'Hybrid', 'Other', 'Petrol'},
 'unique_transmission_types': {'Automatic', 'Manual', 'Semi-Auto'}}

In [8]:
mean_brand = []
for i in dict_train['unique_brands']:
    mean =round(np.mean(train_data.loc[train_data.brand == i]['price']),2)
    mean_brand.append(mean)
df0 = pd.DataFrame({'brands':dict_train['unique_brands'], 'mean prices':mean_brand})
df1 = df0.sort_values("mean prices")
df1

          brands  mean prices
7       vauxhall     10412.02
0         toyota     12509.40
6           ford     12597.37
1        Hyundai     12747.84
4          skoda     14250.14
3             vw     16832.89
2            bmw     22765.31
8           audi     22904.24
5  Mercedes-Benz     24414.63

In [9]:
numb = list(range(len(dict_train['unique_brands'])))
zipped_values = zip(df1['brands'], numb)
brands= dict(zipped_values)
brands

{'vauxhall': 0,
 'toyota': 1,
 'ford': 2,
 'Hyundai': 3,
 'skoda': 4,
 'vw': 5,
 'bmw': 6,
 'audi': 7,
 'Mercedes-Benz': 8}

In [10]:
train_data["brand4M"] = train_data["brand"].apply(lambda s: brands.get(s))
test_data["brand4M"] = test_data["brand"].apply(lambda s: brands.get(s))

In [11]:
train_data['age4M'] = 2021 - train_data['year']
train_data['age4M'].fillna(round(train_data['age4M'].mean(),0), inplace=True)
test_data['age4M'] = 2021 - test_data['year']

In [12]:
train_data1 = pd.concat([train_data, pd.get_dummies(train_data['transmission'], prefix="transmission"),  
                      pd.get_dummies(train_data['fuelType'], prefix="fuelType")],  axis=1)

In [13]:
train_data1.drop(['transmission', 'fuelType'], axis=1, inplace=True)

In [14]:
train_data1.head()

,id,brand,model,year,mileage,tax,mpg,engineSize,tax(£),price,...,age4M,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,XFAD75P7,audi,A3,2011.0,85246,30.0,65.7,1.6,NaN,5899,...,10.0,0,1,0,0,1,0,0,0,0
1,73W4FEUS,Mercedes-Benz,GLE Class,2019.0,2343,145.0,32.8,3.0,NaN,52700,...,2.0,0,0,0,1,1,0,0,0,0
2,MZWIK5PF,ford,Fiesta,2016.0,33000,0.0,65.7,1.0,NaN,8974,...,5.0,0,1,0,0,0,0,0,0,1
3,CJ2UPZT7,Hyundai,I10,2014.0,13000,NaN,61.4,1.2,20.0,4795,...,7.0,0,1,0,0,0,0,0,0,1
4,GCE9RQX3,vw,Polo,2019.0,1889,145.0,45.6,1.0,NaN,15399,...,2.0,0,0,0,1,0,0,0,0,1

In [15]:
train_data1 = train_data1.drop(columns = ['tax(£)', 'tax','fuelType_Electric', 'transmission_Other', 'transmission_Manual'])

In [24]:
train_data1

,id,brand,model,year,mileage,mpg,engineSize,price,brand4M,age4M,transmission_Automatic,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,XFAD75P7,audi,A3,2011.0,85246,65.7,1.6,5899,7,10.0,0,0,1,0,0,0
1,73W4FEUS,Mercedes-Benz,GLE Class,2019.0,2343,32.8,3.0,52700,8,2.0,0,1,1,0,0,0
2,MZWIK5PF,ford,Fiesta,2016.0,33000,65.7,1.0,8974,2,5.0,0,0,0,0,0,1
3,CJ2UPZT7,Hyundai,I10,2014.0,13000,61.4,1.2,4795,3,7.0,0,0,0,0,0,1
4,GCE9RQX3,vw,Polo,2019.0,1889,45.6,1.0,15399,5,2.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98930,I8KLC618,vw,Tiguan Allspace,2019.0,5000,38.7,2.0,33790,5,2.0,0,1,1,0,0,0
98931,AB7QQKMO,ford,Kuga,2018.0,28694,39.2,2.0,18491,2,3.0,0,0,1,0,0,0
98932,PVLKZ2UI,audi,A4,2020.0,4454,38.2,2.0,30990,7,1.0,0,1,0,0,0,1
98933,2GTEIIRK,ford,Fiesta,2017.0,8062,65.7,1.0,9490,2,4.0,0,0,0,0,0,1
98934,6485DLF1,vauxhall,Astra,2020.0,100,54.3,1.2,14990,0,1.0,0,0,0,0,0,1

In [19]:
test_data1 = pd.concat([test_data, pd.get_dummies(test_data['transmission'], prefix="transmission"),  
                      pd.get_dummies(test_data['fuelType'], prefix="fuelType")],  axis=1)

In [20]:
test_data1.drop(['transmission', 'fuelType'], axis=1, inplace=True)

In [26]:
test_data1

,id,brand,model,year,mileage,tax,mpg,engineSize,tax(£),brand4M,age4M,transmission_Automatic,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,NMBZ22VY,vw,Polo,2019.0,2999,145.0,52.3,1.0,NaN,5.0,2.0,0,0,0,0,0,1
1,E6LR9TEY,audi,Q5,2019.0,6929,145.0,34.0,3.0,NaN,7.0,2.0,1,0,0,0,0,1
2,LSKER65V,vauxhall,Corsa,2015.0,37500,30.0,55.4,1.4,NaN,0.0,6.0,0,0,0,0,0,1
3,99QY0FR4,Mercedes-Benz,S Class,1998.0,43534,265.0,23.3,6.0,NaN,8.0,23.0,1,0,0,0,0,1
4,7W1OP1NO,Hyundai,Kona,2019.0,9500,NaN,52.3,1.6,135.0,3.0,2.0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9600,LI848AQ1,ford,Mondeo,2016.0,59601,125.0,57.7,2.0,NaN,2.0,5.0,0,1,1,0,0,0
9601,ANKJJJKS,audi,A3,2015.0,89060,30.0,67.3,2.0,NaN,7.0,6.0,0,0,1,0,0,0
9602,5UJ8YW1R,vw,Polo,2019.0,1267,150.0,49.6,1.0,NaN,5.0,2.0,0,0,0,0,0,1
9603,9O04KPDP,vw,Golf,2019.0,1658,145.0,36.2,2.0,NaN,5.0,2.0,0,1,0,0,0,1
9604,DVPTSWRM,Hyundai,Kona,2018.0,15493,NaN,52.3,1.0,145.0,3.0,3.0,0,0,0,0,0,1

In [27]:
test_data1 = test_data1.drop(columns = ['tax(£)', 'tax'])

In [28]:
test_data1

,id,brand,model,year,mileage,mpg,engineSize,brand4M,age4M,transmission_Automatic,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,NMBZ22VY,vw,Polo,2019.0,2999,52.3,1.0,5.0,2.0,0,0,0,0,0,1
1,E6LR9TEY,audi,Q5,2019.0,6929,34.0,3.0,7.0,2.0,1,0,0,0,0,1
2,LSKER65V,vauxhall,Corsa,2015.0,37500,55.4,1.4,0.0,6.0,0,0,0,0,0,1
3,99QY0FR4,Mercedes-Benz,S Class,1998.0,43534,23.3,6.0,8.0,23.0,1,0,0,0,0,1
4,7W1OP1NO,Hyundai,Kona,2019.0,9500,52.3,1.6,3.0,2.0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9600,LI848AQ1,ford,Mondeo,2016.0,59601,57.7,2.0,2.0,5.0,0,1,1,0,0,0
9601,ANKJJJKS,audi,A3,2015.0,89060,67.3,2.0,7.0,6.0,0,0,1,0,0,0
9602,5UJ8YW1R,vw,Polo,2019.0,1267,49.6,1.0,5.0,2.0,0,0,0,0,0,1
9603,9O04KPDP,vw,Golf,2019.0,1658,36.2,2.0,5.0,2.0,0,1,0,0,0,1
9604,DVPTSWRM,Hyundai,Kona,2018.0,15493,52.3,1.0,3.0,3.0,0,0,0,0,0,1

In [29]:
train_data1

,id,brand,model,year,mileage,mpg,engineSize,price,brand4M,age4M,transmission_Automatic,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,XFAD75P7,audi,A3,2011.0,85246,65.7,1.6,5899,7,10.0,0,0,1,0,0,0
1,73W4FEUS,Mercedes-Benz,GLE Class,2019.0,2343,32.8,3.0,52700,8,2.0,0,1,1,0,0,0
2,MZWIK5PF,ford,Fiesta,2016.0,33000,65.7,1.0,8974,2,5.0,0,0,0,0,0,1
3,CJ2UPZT7,Hyundai,I10,2014.0,13000,61.4,1.2,4795,3,7.0,0,0,0,0,0,1
4,GCE9RQX3,vw,Polo,2019.0,1889,45.6,1.0,15399,5,2.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98930,I8KLC618,vw,Tiguan Allspace,2019.0,5000,38.7,2.0,33790,5,2.0,0,1,1,0,0,0
98931,AB7QQKMO,ford,Kuga,2018.0,28694,39.2,2.0,18491,2,3.0,0,0,1,0,0,0
98932,PVLKZ2UI,audi,A4,2020.0,4454,38.2,2.0,30990,7,1.0,0,1,0,0,0,1
98933,2GTEIIRK,ford,Fiesta,2017.0,8062,65.7,1.0,9490,2,4.0,0,0,0,0,0,1
98934,6485DLF1,vauxhall,Astra,2020.0,100,54.3,1.2,14990,0,1.0,0,0,0,0,0,1

In [92]:
#creating a df with all potential dependent var + independent var
df = train_data1[['brand4M', 'transmission_Automatic', 'transmission_Semi-Auto', 'fuelType_Diesel', 'fuelType_Hybrid', 'fuelType_Other', 'fuelType_Petrol', 'mileage', 'engineSize', 'mpg', 'price']]
x_f = df.iloc[:,:10]
y_f = df.iloc[:,-1]

In [102]:
X_test = test_data1[['brand4M', 'transmission_Automatic', 'transmission_Semi-Auto', 'fuelType_Diesel', 'fuelType_Hybrid', 'fuelType_Other', 'fuelType_Petrol', 'mileage', 'engineSize', 'mpg']]

In [94]:
x_train_f, x_test_f, y_train_f, y_test_f = train_test_split(x_f, y_f, test_size=0.1, random_state=42)

In [100]:
x_train_f1 = x_train_f.drop(columns = ['price'])

In [101]:
x_train_f1

,brand4M,transmission_Automatic,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,mileage,engineSize,mpg
47211,8,1,0,1,0,0,0,13567,2.1,64.2
51905,2,1,0,1,0,0,0,3016,2.0,NaN
25696,8,0,1,0,0,0,1,18791,2.0,38.2
39138,8,0,0,1,0,0,0,75865,2.1,67.3
38711,4,0,0,0,0,0,1,1187,1.0,57.7
...,...,...,...,...,...,...,...,...,...,...
6265,8,0,1,0,0,0,1,6340,1.3,53.3
54886,7,0,1,0,0,0,1,6500,2.0,40.9
76820,8,0,1,0,0,0,1,16,2.0,32.8
860,0,0,0,0,0,0,1,44948,2.0,57.6
15795,8,0,1,0,0,0,1,14019,1.3,45.6

In [103]:
X_test

,brand4M,transmission_Automatic,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,mileage,engineSize,mpg
0,5.0,0,0,0,0,0,1,2999,1.0,52.3
1,7.0,1,0,0,0,0,1,6929,3.0,34.0
2,0.0,0,0,0,0,0,1,37500,1.4,55.4
3,8.0,1,0,0,0,0,1,43534,6.0,23.3
4,3.0,1,0,0,1,0,0,9500,1.6,52.3
...,...,...,...,...,...,...,...,...,...,...
9600,2.0,0,1,1,0,0,0,59601,2.0,57.7
9601,7.0,0,0,1,0,0,0,89060,2.0,67.3
9602,5.0,0,0,0,0,0,1,1267,1.0,49.6
9603,5.0,0,1,0,0,0,1,1658,2.0,36.2
9604,3.0,0,0,0,0,0,1,15493,1.0,52.3

In [86]:
model1= LinearRegression().fit(x_train_f, y_train_f)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [69]:
model1.score(x_train_f, y_train_f)

0.7557294704146267

In [70]:
y_pred4 = model1.predict(x_test_f)
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test_f, y_pred1)))

Root Mean Squared Error: 6145.965744032099

In [71]:
df2 = x_test_f
df2 = df2.copy()
df2['Actual_price'] = y_test_f
df2['Predicted_price'] =  y_test_f
df2['Error'] = np.sqrt((df2['Actual_price'] - df2['Predicted_price'])**2)
df2.sort_values("Error", ascending = False)

,brand4M,age4M,transmission_Automatic,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,mileage,engineSize,Actual_price,Predicted_price,Error
74943,1,3.0,1,0,0,1,0,0,18324,1.5,13495,13495,0.0
95863,4,4.0,0,0,0,0,0,1,15000,1.0,10495,10495,0.0
61017,6,1.0,0,1,1,0,0,0,100,2.0,35250,35250,0.0
17434,6,4.0,1,0,1,0,0,0,53639,2.0,14000,14000,0.0
35676,0,3.0,0,0,0,0,0,1,14470,1.4,8514,8514,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88985,0,6.0,0,0,0,0,0,1,40429,1.4,6995,6995,0.0
40651,0,3.0,0,0,0,0,0,1,6838,1.4,12770,12770,0.0
37373,7,6.0,0,0,1,0,0,0,54292,1.6,10199,10199,0.0
37558,6,6.0,0,1,0,0,0,1,45000,2.0,16990,16990,0.0
39625,2,4.0,0,0,0,0,0,1,26000,1.2,7199,7199,0.0

In [72]:
submission = pd.DataFrame({ 'id': test_data.id, 'price':  y_test_f})
submission.to_csv("3.csv", index=False)

In [87]:
xgbr = xgb.XGBRegressor(verbosity=0)

In [104]:
xgbr.fit(x_train_f1, y_train_f)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=16, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [106]:
score = xgbr.score(x_train_f1, y_train_f)  

print("Training score: ", score)

Training score:  0.9357979103049179

In [113]:
y_pred6= xgbr.predict(X_test)
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test_f, y_pred6)))

ValueError: Found input variables with inconsistent numbers of samples: [9894, 9605]

In [55]:
x_train =

,id,brand,model,year,mileage,mpg,engineSize,price,brand4M,age4M,transmission_Automatic,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,XFAD75P7,audi,A3,2011.0,85246,65.7,1.6,5899,7,10.0,0,0,1,0,0,0
1,73W4FEUS,Mercedes-Benz,GLE Class,2019.0,2343,32.8,3.0,52700,8,2.0,0,1,1,0,0,0
2,MZWIK5PF,ford,Fiesta,2016.0,33000,65.7,1.0,8974,2,5.0,0,0,0,0,0,1
3,CJ2UPZT7,Hyundai,I10,2014.0,13000,61.4,1.2,4795,3,7.0,0,0,0,0,0,1
4,GCE9RQX3,vw,Polo,2019.0,1889,45.6,1.0,15399,5,2.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98930,I8KLC618,vw,Tiguan Allspace,2019.0,5000,38.7,2.0,33790,5,2.0,0,1,1,0,0,0
98931,AB7QQKMO,ford,Kuga,2018.0,28694,39.2,2.0,18491,2,3.0,0,0,1,0,0,0
98932,PVLKZ2UI,audi,A4,2020.0,4454,38.2,2.0,30990,7,1.0,0,1,0,0,0,1
98933,2GTEIIRK,ford,Fiesta,2017.0,8062,65.7,1.0,9490,2,4.0,0,0,0,0,0,1
98934,6485DLF1,vauxhall,Astra,2020.0,100,54.3,1.2,14990,0,1.0,0,0,0,0,0,1

In [64]:
X_test

,brand4M,age4M,transmission_Automatic,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,mileage,engineSize
0,5.0,2.0,0,0,0,0,0,1,2999,1.0
1,7.0,2.0,1,0,0,0,0,1,6929,3.0
2,0.0,6.0,0,0,0,0,0,1,37500,1.4
3,8.0,23.0,1,0,0,0,0,1,43534,6.0
4,3.0,2.0,1,0,0,1,0,0,9500,1.6
...,...,...,...,...,...,...,...,...,...,...
9600,2.0,5.0,0,1,1,0,0,0,59601,2.0
9601,7.0,6.0,0,0,1,0,0,0,89060,2.0
9602,5.0,2.0,0,0,0,0,0,1,1267,1.0
9603,5.0,2.0,0,1,0,0,0,1,1658,2.0
9604,3.0,3.0,0,0,0,0,0,1,15493,1.0

In [111]:
test_prediction =xgbr.predict(X_test)

In [112]:
submission = pd.DataFrame({ 'id': test_data.id, 'price': test_prediction})
submission.to_csv("51.csv", index=False)